*, *::before, *::after {
	box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
	--padddingXContainer: 25px;
	--transitionTimingFunction: ease-in;
	--transitionDuration: 0.2s;
	--lightVanilla: #faf7f0;
	--vanilla: #fdf1e2;
	--orange: #ffad4c;
	--bgColorBody: var(--lightVanilla);
	--bgColorCardProduct: #fdf1e2;
	--colorCardProductType: #bab1a8;
	--colorCardProductTitle: #4b4b4b;
	--fillCardProductIcon: var(--orange);
	--colorCardProductPrice: var(--orange);
	--bgColorCardProductPrice: white;
}

html, body {
	height: 100%;
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	display: flow-root;
	background-color: var(--bgColorBody);
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	display: block;
	width: 100%;
	padding: 0 var(--padddingXContainer);
}
