<app-header></app-header>

<main>
	<section class="section section_catalog">
		<div class="container">

			<div class="catalog">

				<div class="catalog__products">

					<ng-container *ngIf="allProductsObservable | async as allProducts">
						<ng-container *ngIf="allProducts.length !== 0">
							<ng-container *ngFor="let product of allProducts">

								<app-card-product [product]="product"></app-card-product>

							</ng-container>
						</ng-container>
					</ng-container>

				</div>

			</div>

		</div>
	</section>
</main>

<app-footer></app-footer>
